Repository danieleschmidt/spikeformer-neuromorphic-kit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainer-team, @lead-developer, @core-team, @conversion-experts, @training-experts, @model-experts, @hardware-team, @loihi2-experts, @spinnaker-experts, @edge-computing-team, @qa-team, @performance-team, @devops-team, @security-team, @packaging-experts, @frontend-team, @containerization-experts, @compliance-team, @docs-team, @architecture-team, @community-team, @sre-team, @monitoring-experts, @project-managers, @release-managers, @legal-team

feat: enhance SDLC maturity with advanced automation and tooling
  .github/performance.yml
  .noxfile.py
  codecov.yml
  renovate.json
  requirements-dev.txt
  requirements.in
  tox.ini
Owners: @devops-team, @lead-developer, @maintainer-team

feat: advanced SDLC optimization for neuromorphic AI platform
  .dependabot.yml
  .dockersecurityscan.yml
  .syft.yaml
  .trivyignore
  otel-config.yaml
  package.json
  pyproject.toml
  renovate.json
  spikeformer/monitoring.py
  uv.lock
Owners: @maintainer-team, @lead-developer, @frontend-team, @devops-team, @packaging-experts, @core-team

feat: enhance SDLC maturity with advanced configurations and specialized documentation
  .gitattributes
  .github/ISSUE_TEMPLATE/energy_performance_issue.yml
  .github/ISSUE_TEMPLATE/hardware_bug_report.yml
  .secrets.baseline
  docs/DEPLOYMENT_GUIDE.md
  docs/PERFORMANCE_OPTIMIZATION.md
Owners: @devops-team, @lead-developer, @maintainer-team, @docs-team

feat: advanced SDLC enhancements for neuromorphic AI platform
  .benchmarks.yml
  .github/CODEOWNERS_TEMPLATE
  .github/ISSUE_TEMPLATE/hardware_support.yml
  .github/ISSUE_TEMPLATE/performance_regression.yml
  docs/CHANGELOG_TEMPLATE.md
Owners: @performance-team, @core-team, @devops-team, @lead-developer, @docs-team

docs: add GitHub Actions workflows setup guide
  docs/GITHUB_WORKFLOWS_SETUP.md
Owners: @docs-team

feat(autonomous-sdlc): add autonomous SDLC system for continuous value discovery
  .benchmarks.yml
  .terragon/IMPLEMENTATION_SUMMARY.md
  .terragon/autonomous-executor.py
  .terragon/config.yaml
  .terragon/dependency-scanner.py
  .terragon/performance-analysis.json
  .terragon/performance-optimizer.py
  .terragon/security-scan-results.json
  .terragon/value-metrics.json
  BACKLOG.md
Owners: @performance-team, @core-team, @maintainer-team, @lead-developer

docs: complete CHECKPOINT 1 - project foundation and comprehensive documentation
  docs/guides/deployment/production-deployment.md
  docs/guides/developer/contributing.md
  docs/guides/user/getting-started.md
  docs/monitoring/observability-guide.md
  docs/testing/testing-strategy.md
Owners: @docs-team

feat: complete CHECKPOINT 2 - enhanced development environment & tooling
  .devcontainer/post-attach.sh
  .devcontainer/post-start.sh
  .devcontainer/update-content.sh
  .vscode/launch.json
  .vscode/tasks.json
  scripts/dev-setup.sh
Owners: @maintainer-team, @lead-developer, @devops-team, @core-team

feat: complete CHECKPOINT 3 - advanced testing infrastructure
  pytest.ini
  tests/utils/__init__.py
  tests/utils/assertions.py
  tests/utils/fixtures.py
  tests/utils/generators.py
  tests/utils/mocks.py
Owners: @maintainer-team, @lead-developer, @qa-team, @core-team

feat: complete CHECKPOINT 4 - enhanced build & containerization
  docs/workflows/examples/ci-cd-pipeline.yml
  scripts/build-and-scan.sh
  scripts/container-security.py
Owners: @docs-team, @devops-team, @core-team, @security-team

feat: complete CHECKPOINT 5 - comprehensive monitoring & observability
  monitoring/blackbox-config.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/loki-config.yaml
  monitoring/otel-collector-config.yaml
  monitoring/promtail-config.yaml
  monitoring/tempo-config.yaml
Owners: @sre-team, @devops-team

feat: complete CHECKPOINT 6 - comprehensive workflow documentation & templates
  docs/workflows/examples/hardware-testing.yml
  docs/workflows/examples/release-automation.yml
  docs/workflows/examples/security-scanning.yml
Owners: @docs-team

feat(checkpoint-7): complete metrics and automation setup
  .github/project-metrics.json
  .github/workflows/metrics-collection.yml
  scripts/check-metric-thresholds.py
  scripts/collect-metrics.py
  scripts/generate-metrics-report.py
Owners: @devops-team, @lead-developer, @core-team

.github/CODEOWNERS:

# CODEOWNERS file for SpikeFormer Neuromorphic Kit
# 
# This file defines code ownership for different parts of the repository.
# When a pull request is created, the defined owners are automatically
# requested as reviewers.
#
# Global fallback - applies to all files not covered below
* @maintainer-team @lead-developer

# Core Library Code
/spikeformer/ @core-team @lead-developer
/spikeformer/conversion/ @conversion-experts @core-team
/spikeformer/training/ @training-experts @core-team
/spikeformer/models/ @model-experts @core-team

# Hardware-Specific Code
/spikeformer/hardware/ @hardware-team @lead-developer
/spikeformer/hardware/loihi2/ @loihi2-experts @hardware-team
/spikeformer/hardware/spinnaker/ @spinnaker-experts @hardware-team
/spikeformer/hardware/edge/ @edge-computing-team @hardware-team

# Testing Infrastructure
/tests/ @qa-team @core-team
/tests/hardware/ @hardware-team @qa-team
/tests/performance/ @performance-team @qa-team
/tests/load/ @performance-team @qa-team

# Scripts and Utilities
/scripts/ @devops-team @core-team
/scripts/security_scan.py @security-team @devops-team
/scripts/generate_sbom.py @security-team @devops-team
/scripts/container_security_scan.py @security-team @devops-team

# Configuration Files
pyproject.toml @packaging-experts @lead-developer
setup.py @packaging-experts @lead-developer
requirements.txt @packaging-experts @core-team
package.json @frontend-team @devops-team

# CI/CD and DevOps
/.github/ @devops-team @lead-developer
/.github/workflows/ @devops-team @lead-developer
/docker-compose.yml @devops-team @containerization-experts
/Dockerfile @devops-team @containerization-experts
/Makefile @devops-team @core-team

# Security and Compliance
/SECURITY.md @security-team @lead-developer
/.pre-commit-config.yaml @security-team @devops-team
/SLSA.md @security-team @compliance-team
/scripts/*security* @security-team

# Documentation
/README.md @docs-team @lead-developer
/docs/ @docs-team
/ARCHITECTURE.md @architecture-team @lead-developer
/CONTRIBUTING.md @community-team @lead-developer
/CODE_OF_CONDUCT.md @community-team @lead-developer

# Monitoring and Observability
/monitoring/ @sre-team @devops-team
/monitoring/prometheus.yml @sre-team @monitoring-experts
/monitoring/grafana/ @sre-team @monitoring-experts
/monitoring/alert_*.yml @sre-team @monitoring-experts

# Project Management
/PROJECT_CHARTER.md @project-managers @lead-developer
/CHANGELOG.md @release-managers @lead-developer
/docs/ROADMAP.md @project-managers @lead-developer

# Architecture Decision Records
/docs/adr/ @architecture-team @lead-developer

# Runbooks and Operations
/docs/runbooks/ @sre-team @devops-team

# Performance and Benchmarking
*benchmark* @performance-team @core-team
*profiling* @performance-team @core-team
pytest-benchmark.ini @performance-team @qa-team

# Hardware Configuration Files  
*.hwconfig @hardware-team
/hardware_configs/ @hardware-team

# Model and Data Files (if any slip through .gitignore)
*.pth @model-experts @security-team
*.pt @model-experts @security-team  
*.onnx @model-experts @edge-computing-team

# Release and Packaging
/dist/ @release-managers @packaging-experts
/.release/ @release-managers @lead-developer

# IDE and Development Environment
/.vscode/ @devops-team
/.idea/ @devops-team
.editorconfig @devops-team @core-team

# Git Configuration
.gitignore @devops-team @security-team
.gitattributes @devops-team @lead-developer

# License and Legal
LICENSE @legal-team @lead-developer
NOTICE @legal-team @lead-developer

# Team Definitions (GitHub Teams)
# Create these teams in your GitHub organization:
# 
# @maintainer-team - Repository maintainers
# @lead-developer - Technical lead(s)
# @core-team - Core development team
# @hardware-team - Hardware specialists
# @security-team - Security and compliance experts
# @devops-team - DevOps and infrastructure
# @qa-team - Quality assurance team
# @docs-team - Documentation team
# @community-team - Community management
# @sre-team - Site reliability engineers
# @performance-team - Performance optimization experts
# @architecture-team - Software architects
# @project-managers - Project management
# @release-managers - Release coordination
# @legal-team - Legal and compliance review
# 
# Specialized teams:
# @conversion-experts - Model conversion specialists
# @training-experts - Neural network training experts
# @model-experts - Model architecture experts
# @loihi2-experts - Intel Loihi 2 specialists
# @spinnaker-experts - SpiNNaker platform experts
# @edge-computing-team - Edge deployment specialists
# @packaging-experts - Python packaging specialists
# @frontend-team - Frontend/UI development
# @containerization-experts - Docker/containerization
# @monitoring-experts - Monitoring and observability
# @compliance-team - Regulatory compliance
